<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Contact us</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link th:replace="fragments/style :: style">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<img alt="" class="backImage" src="" th:src="@{/images/severka.jpg}">
<div class="container-fluid p-5 text-center">
    <div class="myCard row mb-3 mx-auto w-25 d-flex align-items-center justify-content-center px-5 py-2 text-white">
        <h1 class="pb-4">Contact us</h1>
        <h3>
            Recepcia
        </h3>
        <p>
            Tel: +421 43 5524590 <br/>
            Email: penzion@severka.sk
        </p>
        <h3>
            Reštaurácia
        </h3>
        <p>
            Tel: +421 917 202 975
        </p>
        <h3>
            Fakturačné údaje
        </h3>
        <p>
            MKM Orava, s.r.o. <br/>
            029 57 Oravská Lesná 765 <br/>
            IČ DPH: SK 20 21 835 431 <br/>
            Bankové spojenie: ČSOB, a.s. <br/>
            Číslo účtu: 4014578266/7500 <br/>
            IBAN: SK 09 7500 0000 0040 1457 8266 BIC: CEKOSKBX
        </p>
    </div>
</div>

</body>
</html>